a {
  cursor: pointer;
}

.angular-editor-textarea {
  min-height: 150px;
  overflow: auto;
  margin-top: 5px;
  resize: vertical;
  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    display: block;
    width: 8px;
    height: 8px;
    cursor: nwse-resize;
    background-color: rgba(255, 255, 255, 0.5);
  }
}

.angular-editor-toolbar {
  font: 100 14px/15px Roboto, Arial, sans-serif;
  background-color: #f5f5f5;
  font-size: 0.8rem;
  padding: 0.2rem;
  border: 1px solid #ddd;

  .angular-editor-toolbar-set {
    display: inline-block;
    border-radius: 5px;
    background-color: white;
    margin-right: 5px;
    vertical-align: middle;
    border: 1px solid #ddd;
    margin-bottom: 3px;
    height: 28px;

    .angular-editor-button {
      background-color: transparent;
      padding: 0.4rem;
      min-width: 2rem;
      float: left;
      border: 0 solid #ddd;

      &:first-child {
        border-radius: 5px 0 0 5px;
      }

      &:last-child {
        border-radius: 0 5px 5px 0;
      }

      &:first-child:last-child {
        border-radius: 5px;
      }

      &:hover {
        cursor: pointer;
        background-color: #f1f1f1;
        transition: 0.2s ease;
        /* &:before {
          background: -moz-linear-gradient(left, #f5f5f5 100%, #ffffff 100%);
          background: -webkit-linear-gradient(left, #f5f5f5 100%, #ffffff 100%);
          background: -o-linear-gradient(left, #f5f5f5 100%, #ffffff 100%);
          background: -ms-linear-gradient(left, #f5f5f5 100%, #ffffff 100%);
          background: linear-gradient(to right, #f5f5f5 100%, #ffffff 100%);
        }*/
      }

      &:focus,
      &.focus {
        outline: 0;
      }

      &:disabled {
        background-color: #f5f5f5;
        pointer-events: none;
        cursor: not-allowed;

        > .color-label {
          pointer-events: none;
          cursor: not-allowed;

          &.foreground {
            :after {
              background: #555555;
            }
          }

          &.background {
            background: #555555;
          }
        }
      }

      &.active {
        background: #fff5b9;

        &:hover {
          background-color: #fffa98;
        }
      }
    }

    select {
      font-size: 11px;
      width: 90px;
      vertical-align: middle;
      background-color: transparent;
      border: 0.5px solid rgba(255, 255, 255, 0);
      border-radius: 5px;
      outline: none;
      padding: 0.4rem;
      cursor: pointer;
    }

    .select-heading {
      display: inline-block;
      width: 90px;
      height: 24px;
      @supports not (-moz-appearance: none) {
        optgroup {
          font-size: 12px;
          background-color: #f4f4f4;
          padding: 5px;
        }
        option {
          border: 1px solid;
          background-color: white;
        }
        .default {
          font-size: 16px;
        }
        .h1 {
          font-size: 24px;
        }
        .h2 {
          font-size: 20px;
        }
        .h3 {
          font-size: 16px;
        }
        .h4 {
          font-size: 15px;
        }
        .h5 {
          font-size: 14px;
        }
        .h6 {
          font-size: 13px;
        }
        .div {
          font-size: 12px;
        }
        .pre {
          font-size: 12px;
        }
      }

      &:disabled {
        background-color: #f5f5f5;
        pointer-events: none;
        cursor: not-allowed;
      }

      &:hover {
        cursor: pointer;
        background-color: #f1f1f1;
        transition: 0.2s ease;
      }
    }

    .select-font {
      display: inline-block;
      width: 90px;
      height: 24px;
      @supports not (-moz-appearance: none) {
        optgroup {
          font-size: 12px;
          background-color: #f4f4f4;
          padding: 5px;
        }
        option {
          border: 1px solid;
          background-color: white;
        }
      }

      &:disabled {
        background-color: #f5f5f5;
        pointer-events: none;
        cursor: not-allowed;
      }

      &:hover {
        cursor: pointer;
        background-color: #f1f1f1;
        transition: 0.2s ease;
      }
    }

    .select-font-size {
      display: inline-block;
      width: 50px;
      height: 24px;
      @supports not (-moz-appearance: none) {
        optgroup {
          font-size: 12px;
          background-color: #f4f4f4;
          padding: 5px;
        }
        option {
          border: 1px solid;
          background-color: white;
        }
        .size1 {
          font-size: 10px;
        }
        .size2 {
          font-size: 12px;
        }
        .size3 {
          font-size: 14px;
        }
        .size4 {
          font-size: 16px;
        }
        .size5 {
          font-size: 18px;
        }
        .size6 {
          font-size: 20px;
        }
        .size7 {
          font-size: 22px;
        }
      }

      &:disabled {
        background-color: #f5f5f5;
        pointer-events: none;
        cursor: not-allowed;
      }

      &:hover {
        cursor: pointer;
        background-color: #f1f1f1;
        transition: 0.2s ease;
      }
    }

    .select-custom-style {
      display: inline-block;
      width: 90px;
      height: 24px;
      @supports not (-moz-appearance: none) {
        optgroup {
          font-size: 12px;
          background-color: #f4f4f4;
          padding: 5px;
        }
        option {
          border: 1px solid;
          background-color: white;
        }
        /*.size1 {
          font-size: 10px;
        }
        .size2 {
          font-size: 12px;
        }
        .size3 {
          font-size: 14px;
        }
        .size4 {
          font-size: 16px;
        }
        .size5 {
          font-size: 18px;
        }
        .size6 {
          font-size: 20px;
        }
        .size7 {
          font-size: 22px;
        }*/
      }

      &:disabled {
        background-color: #f5f5f5;
        pointer-events: none;
        cursor: not-allowed;
      }

      &:hover {
        cursor: pointer;
        background-color: #f1f1f1;
        transition: 0.2s ease;
      }
    }

    .color-label {
      position: relative;
      cursor: pointer;
    }

    .background {
      font-size: smaller;
      background: #1b1b1b;
      color: white;
      padding: 3px;
    }

    .foreground {
      :after {
        position: absolute;
        content: '';
        left: -1px;
        top: auto;
        bottom: -3px;
        right: auto;
        width: 15px;
        height: 2px;
        z-index: 0;
        background: #1b1b1b;
      }
    }
  }
}
