.ae-font {
  // width: 132px;
  &.ae-picker {
    color: #444;
    display: inline-block;
    float: left;
    // font-size: 14px;
    // font-weight: 500;
    // height: 24px;
    width: 100%;
    position: relative;
    vertical-align: middle;
  }
  .ae-picker-label {
    cursor: pointer;
    display: inline-block;
    height: 100%;
    padding-left: 8px;
    padding-right: 10px;
    position: relative;
    width: 100%;
    line-height: 24px;
    // font: 400 13.3333px Arial;
    //z-index: 2;
    vertical-align: middle;
    //border: 2px solid transparent;
    font-size: 85%;
    text-align: left;
    background-color: transparent;
    //padding: 0.4rem;
    min-width: 2rem;
    float: left;
    border: 1px solid transparent;

    text-overflow: clip;
    overflow: hidden;
    white-space: nowrap;
    &:before {
      content: ''; /* Выводим элемент */
      position: absolute; /* Абсолютное позиционирование */
      right: 0;
      top: 0; /* Положение элемента */
      width: 20px; /* Ширина градиента*/
      height: 100%; /* Высота родителя */
      /* Градиент */
      /* background: -moz-linear-gradient(left, rgba(255, 255, 255, 1), #ffffff 100%);
      background: -webkit-linear-gradient(left, rgba(255, 255, 255, 1), #ffffff 100%);
      background: -o-linear-gradient(left, rgba(255, 255, 255, 1), #ffffff 100%);
      background: -ms-linear-gradient(left, rgba(255, 255, 255, 1), #ffffff 100%);*/
      background: linear-gradient(to right, rgba(255, 255, 255, 1), #ffffff 100%);
    }
    &:focus {
      outline: none;
    }
    &:hover {
      cursor: pointer;
      background-color: #f1f1f1;
      transition: 0.2s ease;
      &:before {
        /* Градиент */
        /*  background: -moz-linear-gradient(left, #f5f5f5 100%, #ffffff 100%);
        background: -webkit-linear-gradient(left, #f5f5f5 100%, #ffffff 100%);
        background: -o-linear-gradient(left, #f5f5f5 100%, #ffffff 100%);
        background: -ms-linear-gradient(left, #f5f5f5 100%, #ffffff 100%);*/
        background: linear-gradient(to right, #f5f5f5 100%, #ffffff 100%);
      }
    }
    &:disabled {
      background-color: #f5f5f5;
      pointer-events: none;
      cursor: not-allowed;
      &:before {
        /* Градиент */
        /* background: -moz-linear-gradient(left, #f5f5f5 100%, #ffffff 100%);
        background: -webkit-linear-gradient(left, #f5f5f5 100%, #ffffff 100%);
        background: -o-linear-gradient(left, #f5f5f5 100%, #ffffff 100%);
        background: -ms-linear-gradient(left, #f5f5f5 100%, #ffffff 100%);*/
        background: linear-gradient(to right, #f5f5f5 100%, #ffffff 100%);
      }
    }

    svg {
      position: absolute;
      margin-top: -9px;
      right: 0;
      top: 50%;
      width: 18px;
      &:not(:root) {
        overflow: hidden;
      }
      .ae-stroke {
        fill: none;
        stroke: #444;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-width: 2;
      }
    }
  }
  .ae-picker-options {
    background-color: #fff;
    display: none;
    min-width: 100%;
    // padding: 4px 8px;
    position: absolute;
    white-space: nowrap;
    z-index: 3;
    border: 1px solid transparent;
    box-shadow: rgba(0, 0, 0, 0.2) 0 2px 8px;
    .ae-picker-item {
      cursor: pointer;
      display: block;
      padding-bottom: 5px;
      padding-top: 5px;
      padding-left: 5px;
      z-index: 3;

      text-align: left;
      background-color: transparent;
      //padding: 0.4rem;
      min-width: 2rem;
      // float: left;
      width: 100%;
      border: 0 solid #ddd;
      &.selected {
        color: #06c;
        background-color: #fff4c2;
      }
      &.focused {
        background-color: #fffa98;
      }
      &:hover {
        background-color: #fffa98;
      }
    }
  }
  &.ae-expanded {
    display: block;
    margin-top: -1px;
    // top: 100%;
    z-index: 1;
    .ae-picker-label {
      // border-color: #ccc;
      color: #ccc;
      z-index: 2;
      svg {
        color: #ccc;
        z-index: 2;
        .ae-stroke {
          stroke: #ccc;
        }
      }
    }
    .ae-picker-options {
      display: block;
      margin-top: -1px;
      top: 100%;
      z-index: 3;

      border-color: #ccc;
    }
  }
}
